.cover__link {
  position: relative;
  display: flex;
  max-width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background: url(../../../images/image-background.png) no-repeat center;
  background-size: contain;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 48px;
  text-decoration: none;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cover__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: 0.2s ease-in-out;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__link {
    min-height: 200px;
    padding: 33px 16px;
  }
}
