.place__paragraph {
  grid-area: paragraph;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
  width: 100%;
  max-width: 484px;
  padding-bottom: 26px;
}

@media (max-width: 1024px) {
  .place__paragraph {
  max-width: 456px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
  font-size: 16px;
  max-width: 352px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
  font-size: 16px;
  max-width: 288px;
  padding: 0 16px;
  }
}
