.place__paragraph {
  grid-area: paragraph;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  text-align: left;
  padding-bottom: 26px;
  margin: 0;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
  font-size: 16px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
  padding: 0 16px 25px;
  }
  .place__paragraph:last-child {
    padding: 0 16px;
  }
}
