.intro {
  margin: auto;
  max-width: 984px;
  padding-top: 92px;
  padding-bottom: 92px;
}

@media (max-width: 1024px) {
  .intro {
    margin: 0;
    padding: 92px 48px 92px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 0;
    padding: 88px 24px;
  }
}

@media (max-width: 320px) {
  .intro {
    padding: 64px 16px 64px;
  }
}
