.footer {
  width: 100%;
  max-width: 1184px;
  margin: 92px auto 24px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(1, minmax(min-content, max-content));
  justify-content: space-between;
}
