.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  max-width: 690px;
  margin: 0;
  padding: 0;
}

@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
